<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>ad-hoc</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.gardinel.caveasy</key>
		<string>AdHoc IOS XC Wildcard ASAP5SLHYR.*</string>
	</dict>
	<key>signingCertificate</key>
	<string>FB5AA6E115BF0F99CB8DFB9964A8D8947041DFD6</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>ASAP5SLHYR</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
